:root {
    --color-white: #fbfaf8;
    --color-black: #151515;
    --color-primary: #b8b073;
    --color-primary-fade: rgba(184, 176, 115, 0.095);
    --color-secondary: #d2d0f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /*Default root font-size = 16px*/
    font-size: 10px;
    /* font-size: 62.5%; */
}

body {
    line-height: 1.5;
    font-weight: 500;
    font-family: "Manrope", Verdana, Sans-Serif;
    overflow-x: hidden;
}

body:before {
    content: "";
    height: 100vh;

    width: 100vw;
    background: linear-gradient(to bottom, #00000025), url("images/bg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 100%;
    max-width: 130rem;
    margin: auto;
    padding: 10rem 2rem;
}

@media (max-width: 500px) {
    .container {
        padding: 8rem 2rem;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.7rem;
}

.btn {
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 1rem 2.5rem;
    padding: 1.5rem 3.3rem;
    border-radius: 5rem;
    white-space: nowrap;
    display: inline-block;
    font-size: 1.6rem;
}

.btn:hover {
    opacity: 0.7;
}

.small-header-text {
    font-size: 1.6rem;
    color: var(--color-primary);
}

.large-header-text {
    font-size: 3rem;
}

header {
    height: 100svh;
    min-height: fit-content;
    max-height: 95rem;
    display: flex;
    flex-direction: column;

    background-color: var(--color-white);
}

nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--color-white);
    border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
}

nav .container {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 2rem;

    position: relative;
}

@media (max-height: 500px) {
    nav .container {
        padding: 1rem;
    }
}

nav .container .logo {
    height: 3rem;
}

nav .container .logo img {
    height: 100%;
    object-fit: contain;
}

nav .container .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
}

@media (max-width: 600px) {
    nav .container .menu {
        flex-direction: column;
        background-color: var(--color-white);
        border-radius: 1rem;
        box-shadow: 0 1.5rem 1.5rem 1.5rem #0000000e;

        position: absolute;
        z-index: -1;
        top: -1000%;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 4rem);
        transition: all 0.3s ease;

        padding: 3rem;
        gap: 3rem;
        align-items: stretch;
        text-align: center;
    }
}

nav .container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    gap: 2rem;
}

@media (max-width: 600px) {
    nav .container ul {
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;
    }
}

nav .container ul li a {
    color: var(--color-black);
    font-size: 1.6rem;
    transition: all 0.5s ease;
}

nav .container ul li a:hover {
    color: var(--color-primary);
}

@media (max-width: 600px) {
    nav .container ul li a {
        display: block;
        padding: 1.5rem 3rem;
        border-radius: 5rem;
    }

    nav .container ul li:first-of-type a {
        background-color: var(--color-primary-fade);
    }

    nav .container ul:hover li:not(:hover) a {
        background-color: transparent;
    }

    nav .container ul li a:focus {
        background-color: var(--color-primary-fade);
    }

    nav .container ul li a:hover {
        background-color: var(--color-primary-fade);
    }
}

@media (max-width: 600px) {
    nav .container .btn {
        box-shadow: 0 0.5rem 1rem 1rem rgba(0, 0, 0, 0.085);
    }

    nav .container .btn:hover {
        box-shadow: none;
    }
}

.hamburger {
    display: none;
}

@media (max-width: 600px) {
    .hamburger {
        display: block;
        position: relative;
        height: 2.6rem;
        width: 2.5rem;
        overflow: hidden;
    }

    .hamburger .icon {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.3s ease;
    }

    .hamburger .close-icon {
        /* display: none; */
        left: 100%;
    }

    .hamburger:has(input:checked) .close-icon {
        /* display: block; */
        left: 0;
    }

    .hamburger:has(input:checked) .open-icon {
        /* display: none; */
        left: -100%;
    }

    .hamburger .icon svg {
        height: 100%;
        width: 100%;
    }

    nav input {
        display: none;
    }

    .hamburger:has(input:checked) + .menu {
        top: 120%;
    }
}

/* Hero */

.hero {
    flex: 1;
    margin-top: min(8rem, 15vw);

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("images/white-grid-bg.jpeg");
    background-position: center;
    background-size: 40rem;
}

.hero .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: fit-content;

    display: flex;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

/* @media (max-width: 740px) { */
@media (max-width: 790px) {
    .hero .container {
        text-align: center;
        padding-top: 10rem;
        padding-bottom: 7rem;
    }
}

.hero .typography {
    flex: 1 1 35rem;
    max-width: 55rem;
    margin: auto;
}

.hero .typography h6 {
    color: var(--color-black);
}

.hero .typography #name {
    color: var(--color-primary);
    margin-bottom: 2rem;

    animation-delay: 1s;
}

.hero .typography h1 {
    font-size: max(6vw, 6rem);
    font-size: min(15vw, 9rem);
    font-size: clamp(6rem, 8.2vw, 9rem);
    line-height: 1;
    letter-spacing: -0.25rem;
    margin-bottom: 3rem;

    animation-delay: 1.5s;
}

.hero .typography p {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
    opacity: 0;

    animation-delay: 2s;
}

.hero .typography .buttons {
    display: flex;
    max-width: max-content;
    flex-wrap: wrap;
    gap: 1rem;

    animation-delay: 2.5s;
}

/* @media (max-width: 740px) { */
@media (max-width: 790px) {
    .hero .typography .buttons {
        margin: auto;
    }
}

.hero .typography .buttons .btn {
    border: 0.1rem solid #000;
    background-color: #000;
    flex: 1;
}

.hero .typography .buttons .btn:first-of-type {
    background-color: transparent;
    color: var(--color-black);
    font-weight: 600;
}

.hero .image-box {
    flex: 1 1 35rem;

    animation-delay: 3s;
}

.hero .image {
    border-radius: 2.5rem;
    overflow: hidden;
    max-width: 50rem;
    max-height: 80vh;
    min-height: fit-content;
    margin: auto;
}

.hero .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Metrics */

.metrics {
    backdrop-filter: blur(0.5rem);
}

.metrics .container > div {
    width: 85%;
    margin: auto;
    border-radius: 2.5rem;
    backdrop-filter: blur(0.7rem);
    background-color: rgba(256, 256, 256, 0.6);
    border: 0.15rem solid var(--color-white);
    box-shadow: 0 1.5rem 1.5rem 1.5rem #0000001a;
    padding: 3rem 2rem;
    column-gap: 2rem;
    row-gap: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.metrics figure {
    display: flex;
    flex: 1 0 fit-content;
    max-width: 20rem;

    align-items: center;
    gap: 1rem;
    text-align: left;

    line-height: 1.3;
}

.metrics svg {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background-color: #000;
    border-radius: 50%;
    fill: var(--color-white);
    stroke: var(--color-white);
    stroke-width: 1rem;
}

.metrics figure h3 {
    font-size: 2rem;
}

.metrics figure p {
    color: var(--color-primary);
    font-weight: 600;
}

/* setvices */

.services {
    background-color: var(--color-white);
    text-align: center;

    height: 100vw;
    min-height: fit-content;
    max-height: 95rem;
    display: flex;
    align-items: center;
}

.services .container {
}

.services .header {
    margin-bottom: 40px;
}

.services .grid {
    width: 100%;
    display: grid;
    gap: 3rem;
    /* grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(min(27rem, 50vw), 1fr));
    /* grid-auto-flow: column; */
}

.services figure {
    padding: 4rem;
    height: 100%;
    max-width: 40rem;
    margin: auto;

    border: 0.2rem solid var(--color-white);
    background-color: #b8b07313;
    background-color: var(--color-primary-fade);
    border-radius: 2rem;
    align-self: center;
    box-shadow: 0 1.5rem 2rem 2rem rgba(0, 0, 0, 0.03);

    /* overflow-y: scroll; */
}

.services figure .image {
    width: 50%;
    height: 15rem;
    margin: auto;
    margin-bottom: 2rem;
}

.services figure .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.services figure .typography {
}

.services figure .typography h4 {
    font-weight: 800;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.services figure .typography p {
}

/* projects */

.projects {
    backdrop-filter: blur(0.5rem);
    background: linear-gradient(to bottom, #000000a5, #00000010);
    color: var(--color-white);
}

.projects .header {
}

.projects .header h2 {
    margin-bottom: 2rem;
}

.projects .header p {
    margin-bottom: 2rem;
}

.projects .container .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(50rem, 100%), 1fr));
    gap: 3rem;
}

.projects .grid-item {
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
}

.projects .grid-item a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.projects .grid-item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.projects .grid-item a .description {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 40%, #00000081 65%);

    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-white);
    padding: 2rem;
    padding: min(4rem, 5vw);

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.projects .grid-item a .description h6 {
    padding: 0.2rem 0.8rem;
    border-left: 0.4rem solid var(--color-primary);
    background-color: var(--color-black);
    align-self: start;
    border-radius: 0.3rem;
}

.projects .grid-item a .description h2 {
}

.projects .grid-item a .description p {
    font-size: 1.4rem;
    color: var(--color-secondary);
}

/* Testimonials */

.testimonial {
    background-color: var(--color-white);
}

.testimonial .typography {
    margin-bottom: 3rem;
    text-align: center;
}

.testimonial .slider {
    overflow-x: hidden;
}

.testimonial .slider-track {
    display: flex;
    gap: 4rem;
    animation: scroll 50s linear infinite;
    padding: 4rem 0;
    width: fit-content;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.testimonial .slide {
    flex: 1;
    width: 80vw;
    max-width: 40rem;
    background-color:;
    padding: 3rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 0 2rem 1.5rem #0000000a;
    box-shadow: 0 0 2rem 1.5rem var(--color-primary-fade);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial .slide .rating {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.testimonial .slide .rating span:nth-of-type(2) {
    margin-left: 0.5rem;
}

.testimonial .slide .comment {
    margin-bottom: 3rem;
}

.testimonial .slide .client {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: auto;
    color: var(--color-primary);
}

.testimonial .slide .client .image {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial .slide .client .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Footer */

footer {
    background-color: var(--color-black);
    color: var(--color-secondary);
    text-align: center;
}

footer .container {
    padding-bottom: 0;
}

footer .top {
    padding-bottom: 4rem;
    padding-bottom: clamp(2.5rem, 5vw, 8rem);
}

footer .top h1 {
    font-size: min(4.5rem, 10vw);
    font-size: clamp(3rem, 10vw, 4.5rem);
    font-weight: 400;
    opacity: 0.9;
    margin-bottom: 2rem;
}

footer span {
    opacity: 1;
    color: var(--color-white);
    font-weight: 500;
}

footer .top .data {
    text-align: left;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
    margin-bottom: 4rem;
}

footer .top .data .image {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-primary);
}

footer .top .data .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

footer .top .data p {
    color: var(--color-primary);
    font-size: 1.2rem;
}

footer .top .data p:nth-of-type(2) {
    color: var(--color-secondary);
}

footer .top .data .socials {
    margin-top: 0.4rem;
}

footer .top .data .socials a {
    color: var(--color-white);
    margin-right: 0.3rem;
    display: inline-block;
    width: fit-content;
    font-size: 1.8rem;
}

footer .top .data .socials a:hover {
    color: var(--color-primary);
}

footer .top .btn {
    background-color: var(--color-white);
    box-shadow: 0 0.5rem 1rem 1rem var(--color-primary) 0c;
    color: var(--color-black);
    margin-bottom: 4rem;
    font-weight: 800;
}

footer hr {
    border: 0.05rem solid grey;
    width: 80%;
    margin: auto;
}

footer .bottom {
    padding: 2rem 0;

    p {
        opacity: 0.8;
    }

    p:first-of-type {
        margin-bottom: 1rem;
    }

    p:last-of-type {
        color: var(--color-primary);
    }
}

/* Animation */
.hero-slide-in {
    transform: translateX(-10%);
    opacity: 0;
    visibility: hidden;

    /* animation-name: hero-slide-in;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; */

    animation: hero-slide-in 1s ease forwards;
}

@keyframes hero-slide-in {
    from {
        transform: translateX(-10%);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}

.slide-in {
    animation: fadeInleft ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* @keyframes fadeInleft {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-150px);
        transform: translateY(150px);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
    }
} */

@keyframes fadeInleft {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(150px);
    }

    50% {
        visibility: visible;
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
